doctype html
html
	head 
		title imooc jade study
	body
		h1.title#title.test imooc jade study
		h2 this is so cool 		
		a(href='http://andyiac.com',title='imooc') link
		input(name='course',type='text',value='jade')
		input

		p.
			adsfla sdfasasdfasdlkfja sdf ;asldkfj a;sldkjf a;sldkjf asdlkjf p 